{%- assign filter_tree_vertical_style = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'filterTreeVerticalStyle":"' | last | split: '","' | first | strip -%}
{%- assign enable_filter_sticky_d = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnDesktop":' | last | split: ',' | first | strip -%}
{%- assign enable_filter_sticky_m = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnMobile":' | last | split: ',' | first |  split: '}}' | first | strip -%}

{%- assign enable_filter_tree_button_desktop_v = false -%}
{%- if filter_tree_vertical_style == 'style-off-canvas' or filter_tree_vertical_style == 'style-expand' -%}
  {%- assign enable_filter_tree_button_desktop_v = true -%}
{%- endif -%}

{%- assign per_row = section.settings.per_row -%}
{%- assign paginate_by = section.settings.per_row | times: section.settings.rows_per_page -%}
{%- liquid
  case per_row
    when 1
      assign grid_item_width = ''
    when 2
      assign grid_item_width = 'medium-up--one-half'
    when 3
      assign grid_item_width = 'small--one-half medium-up--one-third'
    when 4
      assign grid_item_width = 'small--one-half medium-up--one-quarter'
    when 5
      assign grid_item_width = 'small--one-half medium-up--one-fifth'
    when 6
      assign grid_item_width = 'small--one-half medium-up--one-sixth'
  endcase
-%}

<div class="search-content boost-pfs-search-page" data-section-id="{{ section.id }}" data-section-type="collection-grid">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item">
            <header class="section-header">
              <h1 class="section-header__title boost-pfs-search-result-header">
                {{ 'general.search.title' | t }}
              </h1>
            </header>

            {% render 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--page' %}

        </div>

        {% comment %} Start Render Advance Search Page Toolbar {% endcomment %}

        <div class="grid__item boost-pfs-search-result-toolbar {% if enable_filter_tree_button_desktop_v and enable_filter_sticky_d  %} boost-pfs-filter-tree-desktop-button-sticky-wrapper {% endif %}">
          {%- if enable_filter_tree_button_desktop_v  -%}
            <div class="boost-pfs-search-result-item">
              <div class="boost-pfs-filter-tree-desktop-button">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
            </div>
          {%- endif -%}
          <div class="boost-pfs-search-result-item">
              <ul class="boost-pfs-search-result-panel-controls">
                  <li>{% render 'boost-pfs-filter-skeleton', width: 2 %}</li>
                  <li>{% render 'boost-pfs-filter-skeleton', width: 2 %}</li>
                  <li>{% render 'boost-pfs-filter-skeleton', width: 1 %}</li>
              </ul>
          </div>
          <div class="boost-pfs-search-result-item">
              <span class="boost-pfs-search-total-result">
                  {% render 'boost-pfs-filter-skeleton', width: 2 %}
              </span>
          </div>
        </div>

        {% comment %} End Render Advance Search Page Toolbar {% endcomment %}
        <div class="boost-pfs-filter-wrapper">
          <div class="boost-pfs-filter-left-col grid__item medium-up--one-fifth boost-pfs-search-panel-product-show" data-section-type="collection-template">
            <div
              id="CollectionSidebar"
              data-style="sidebar">
              {%- assign animation_row = 1 -%}
              <div class="collection-sidebar small--hide">
                <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-desktop></div>
              </div>
            </div>
          </div>
          <div class="boost-pfs-filter-right-col grid__item medium-up--four-fifths grid__item--content">
            <div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template">
              <div class="collection-filter boost-pfs-search-panel-product-show {% if enable_filter_sticky_m %}boost-pfs-filter-tree-mobile-button-stick-wrapper {% endif %}">
                <div class="collection-filter__item collection-filter__item--drawer">
                  <div class="button boost-pfs-filter-tree-mobile-button">
                    {% render 'boost-pfs-filter-skeleton', type: 'button' %}
                  </div>
                </div>
                <div class="collection-filter__item collection-filter__item--count small--hide"></div>
                <div class="collection-filter__item collection-filter__item--sort">
                  <div class="collection-filter__sort-container boost-pfs-filter-top-sorting">
                    {% render 'boost-pfs-filter-skeleton', width: 3 %}
                  </div>
                </div>
              </div>
              <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile></div>
              <div class="grid grid--uniform grid--collection boost-pfs-filter-products" data-boost-sort="{{ collection.default_sort_by }}" data-scroll-to>
                {% comment %} Fix Shopify search term report {% endcomment %}
                {% paginate search.results by 2 %}
                  {% if search.performed %}
                    {% for item in search.results %}
                      <div class="grid__item" style="display: none !important"></div>
                    {% endfor %}
                  {% endif %}
                {% endpaginate %}
              </div>

              <div class="boost-pfs-filter-bottom-pagination pagination">
                  {% render 'boost-pfs-filter-skeleton', width: 4 %}
              </div>
              <div class="boost-pfs-filter-load-more"></div>
              <div class="boost-pfs-quick-shop-modal-container">
                {%- if settings.quick_shop_enable -%}
                  {%- for product in collection.products -%}
                    {%- if product.available -%}
                      {%- render 'quick-shop-modal' -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              </div>

            </div>
          </div>
        </div>

        {% comment %} Start Render Advance Search Page Display {% endcomment %}

        <div class="grid__item boost-pfs-search-result-wrap boost-hidden">
            <div class="boost-pfs-search-result-collections">
                <div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
                <div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
                <div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
            </div>
            <div class="boost-pfs-search-result-collection-pagination pagination">{% render 'boost-pfs-filter-skeleton', width: 4 %}</div>
        </div>
        <div class="grid__item boost-pfs-search-result-wrap boost-hidden">
            <div class="boost-pfs-search-result-pages">
                <div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
                <div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
                <div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
            </div>
            <div class="boost-pfs-search-result-page-pagination pagination">{% render 'boost-pfs-filter-skeleton', width: 4 %}</div>
        </div>

        {% comment %} End Render Advance Search Page Display {% endcomment %}
      </div>
    </div>
  </div>
</div>

<script>
  // Declare boostPFSThemeConfig variable
  var boostPFSThemeConfig = {
    label: {
      sold_out: {{ 'products.product.sold_out' | t | json }},
      sale: {{ 'products.general.sale' | t | json }},
      save_html: {{ 'products.general.save_html' | t | json }},
      regular_price: {{ 'products.general.regular_price' | t | json }},
      sale_price: {{ 'products.general.sale_price' | t | json }},
      from_text_html: {{ 'products.general.from_text_html' | t | json }},
      quick_shop: {{ settings.quick_shop_text | json }},
      filter: {{ 'collections.filters.title_tags' | t | json}},
      items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},
      items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},
    },
    custom: {
      products_per_page: {% if paginate_by %} {{ paginate_by | json }} {% else %} 24 {% endif %},
      products_per_row: {% if per_row %} {{ per_row | json }} {% else %} 4 {% endif %},
      grid_item_width: {% if grid_item_width != blank %} {{ grid_item_width | json }} {% else %} 'small--one-half medium-up--one-quarter' {% endif %},
      vendor_enable: {% if settings.vendor_enable %} {{ settings.vendor_enable | json }} {% else %} false {% endif %},
      quick_shop_enable: {% if settings.quick_shop_enable %} {{ settings.quick_shop_enable | json }} {% else %} false {% endif %},
      product_hover_image: {% if settings.product_hover_image %} {{ settings.product_hover_image | json }} {% else %} false {% endif %},
      product_grid_image_size: {% if settings.product_grid_image_size %} {{ settings.product_grid_image_size | json }} {% else %} 'natural' {% endif %},
      enable_product_reviews:  {% if settings.enable_product_reviews %} {{ settings.enable_product_reviews | json }} {% else %} false {% endif %},
      collection_color_swatches: {% if settings.enable_swatches %} {{ settings.enable_swatches | json }} {% else %} false {% endif %},
      product_save_amount: {% if settings.product_save_amount %} {{ settings.product_save_amount | json }} {% else %} false {% endif %},
      product_save_type: {% if settings.product_save_type %} {{ settings.product_save_type | json }} {% else %} 'dollar' {% endif %},
      product_grid_image_fill: {{ settings.product_grid_image_fill | default: false | json }}
    }
  };

  var boostPFSTemplate = {

    // Grid Template
    'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},

      // Pagination Template
    'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
    'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
    'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
    'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
    'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
    'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
    'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
    'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},

    // Sorting Template
    'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
  };
</script>
{% schema %}

{
  "name": "t:sections.main-search.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header_filtering_and_sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar",
      "label": "t:sections.main-search.settings.enable_sidebar.label",
      "default": true,
      "info": "t:sections.main-search.settings.enable_sidebar.info"
    },
    {
      "type": "checkbox",
      "id": "collapsed",
      "label": "t:sections.main-search.settings.collapsed.label",
      "default": true
    },
    {
      "type": "select",
      "id": "filter_style",
      "label": "t:sections.main-search.settings.filter_style.label",
      "default": "sidebar",
      "options": [
        {
          "value": "sidebar",
          "label": "t:sections.main-search.settings.filter_style.options.sidebar.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-search.settings.filter_style.options.drawer.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_color_swatches",
      "label": "t:sections.main-search.settings.enable_color_swatches.label",
      "info": "t:sections.main-search.settings.enable_color_swatches.info"
    },
    {
      "type": "range",
      "id": "per_row",
      "label": "t:sections.main-search.settings.per_row.label",
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows_per_page",
      "label": "t:sections.main-search.settings.rows_per_page.label",
      "default": 7,
      "min": 3,
      "max": 20,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "mobile_flush_grid",
      "label": "t:sections.main-search.settings.mobile_flush_grid.label",
      "default": false
    }
  ]
}
{% endschema %}


